include CMakeLists.txt
include cmake/CinderXBuildId.cmake
include ci_pipeline/cmake_options.py
include cinderx/runtime_capabilities_build.h.in
recursive-include cinderx *.cpp *.c *.h CMakeLists.txt
recursive-include cinderx/UpstreamBorrow *.template *.md *.txt *.html

# Opcode directories have invalid Python package names (e.g. opcodes/3.14) so
# they have to be included manually.
recursive-include cinderx/PythonLib/opcodes *.py
